@media (min-width: 1024px) {

  /* ===================== HEADER==================== */
  .header-content {
    max-width: 1100px;
    margin: 0 auto;
  }

  /* =====================NAVIGATION=================== */
  #menuBtn {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  
  main {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
  }

  /* =====================
     EVENTS | WEATHER | FORECAST
  ===================== */
  .home-panels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: stretch;
  }
  .events,
  .weather,
  .forecast {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }

  .events h2,
  .weather h2,
  .forecast h2 {
    min-height: 2.5rem;
  }

  /* =====================
     SPOTLIGHTS – 3 COLUMNS
  ===================== */
  
  /* =====================
     FOOTER – 3 BLOCK LAYOUT
  ===================== */
  footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    text-align: left;
  }

  footer .adress {
    justify-self: start;
  }

  footer .social {
    justify-self: center;
  }

  footer .social img {
    width: 40px;
    height: 40px;
  }

  footer .Ownerside {
    justify-self: end;
    text-align: left;
  }
}